body{
    margin:0px;
    background-color: rgb(66, 64, 64);
    color: rgb(182, 179, 179);
    background-image:url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    font-family: sans-serif ;
}

.WebContainer{
    width:100%;
    height:auto;
}

.intro{
    position: absolute;
    left: 35%;
    padding: 0 0 30% 0;
    top: 40%;
    font-size: 3vw;
    width: 40%;
    text-align: center;
}
.navigator{
    position: fixed;
    padding: 1%;
    z-index: 2;
    width:100%;
    background-image:url(https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
    margin: 0%, 100%, 10%, 100%;
    font-size: 1.1vw;

}

.navigator .pfp{
    display: inline-block;
    position: relative;
    background-color: white;
    transition: .5s;
    padding: 1.4% 1.4% 1.4% 1.4%;
    border-radius: 50%;
    top:0%;
}

.navigator .name{
    position: absolute;
    display: inline-block;
    font-size: 2vw;
    left: 20%;
    margin: -1% 0 0 0;
    top: 10%;

}

.navigator .header_icon1, .navigator .header_icon2, .navigator .header_icon3, .navigator .header_icon4{
    display: inline-block;
    position: absolute;
    color: rgb(182, 179, 179);
    transition: .5s ease-in-out;
    padding: 1.4% 1.9% 1.4% 1.9%;
    border-radius: 20%;
    margin: 0% 5% 0 0;
    box-shadow: 1px 1px #888888;
    top: 5%;

}

.navigator .header_icon1{
    left: 67%;

}
.navigator .header_icon2{
    left: 58%;

}
.navigator .header_icon3{
    left: 77%;

}
.navigator .header_icon4{
    left: 86%;
}
.pfp:hover{
    transform:scale(1.1);
}

html {
    scroll-behavior: smooth;
}

.navi{
    text-decoration: none;
    color: black;
}

.header_icon1:hover, .header_icon2:hover, .header_icon3:hover, .header_icon4:hover{
    transform:scale(1.1);
    background-color:rgb(58, 36, 36);
}

.header_icon:active{
    background-color:rgb(177, 149, 149);
}

.level{
    position: absolute;
    top: 110%;
    border-width: 2px;
}

.level #about_title{
    position: absolute;
    left: 40%;
    top: 0%;
    margin: -1% 0 10% 0;
    font-size: 4vw;
}

.level #line{
    width: 90%;
    margin: 4% 15% 0 5%;
}

.level #about_description{
    margin: 2% 5% 5% 5%;
    font-size: 2vw;
    text-align: center;
    margin: 50px;
}

.skills_description{
    position:absolute;
    padding: 5% 0 0 0;
    top:130%;
    margin: .5% 0 .5% 0;
    width: 100%;
}

.skills_description #sk{
    position:absolute;
    top: 80%;
    left: 45%;
    margin: 0 0 50px 0;
    font-size: 4vw;


}
.skills_description #line{
    position:absolute;
    width: 90%;
    left: 5%;
    top: 150%;
    display: block;

}

.skills_description #inline{
    position: absolute;
    margin: 10%;
    top: 200%;
    font-size: 2vw;

}

.skills_description #inline2{
    position: absolute;
    left: 36%;
    margin: 10%;
    top: 200%;
    font-size: 2vw;

}

.skills_description #inline3{
    position: absolute;
    left: 68%;
    margin: 10%;
    top: 200%;
    font-size: 2vw;

}

.skills_description #actual_img{
    position: absolute;
    width: 7.5%;
    height: 150%;
    top: 250%;
}

.skills_description #front_image #actual_img{
    margin: 0 0 5% 0;
    left: 10%;
}

.skills_description #back_end_image #actual_img{
    left: 46%;
}
.skills_description #other_image #actual_img{
    left: 78%;
}

.contact_info{
    display: inline;
    position: absolute;
    font-size: 3vw;
    width: 100%;
    height: 10%;
    top: 215%;
}

.contact_info #ct{
    display: block;
    position: absolute;
    left: 33%;
    top:20%;
}

.contact_info #line{
    position:absolute;
    width: 90%;
    top: 160%;
    left: 5%;
}

.contact_info #contact_img{
    top: 220%;
    transition: .5s;
    width: 7%;
}

.contact_info #git #contact_img{
    display: inline;
    position: absolute;
    left: 28%;
    margin: 0 1% 0 0;

}

.contact_info #linked #contact_img{
    display: inline;
    position: absolute;
    left: 42%;
    margin: 0 0 0 0;

}

.contact_info #outlook #contact_img{
    display: inline;
    position: absolute;
    left: 58%;
    margin: 0 1% 0 0;
}

.contact_info #contact_img:hover{
    transform:scale(1.1);
}

.contact_info .footer_indent{
    position: absolute;
    width:15%;
    height: 15%;
    top: 400%;
}

.scroll_down{
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.scroll_down::before,
.scroll_down::after{
    content:'';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll_down:hover{
    transform: scale(1.2);
}
.scroll_down::after{
    top:30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
    }30%{
        opacity: 1;
    }60%{
        opacity:1;
    }100%{
        opacity: 0;
        top:90%;
    }
}