body{
    margin:0px;
    background-color: rgb(66, 64, 64);
    color: rgb(182, 179, 179);
    background-image:url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    font-family: sans-serif ;
}

.WebContainer{
    width:100%;
    height:auto;
}

.navigator{
    position: fixed;
    padding: 1%;
    z-index: 2;
    width:100%;
    background-image:url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    margin: 0%, 100%, 10%, 100%;
    font-size: 1.1vw;

}

.navigator .pfp{
    display: inline-block;
    position: relative;
    background-color: white;
    transition: .5s;
    padding: 1.4% 1.4% 1.4% 1.4%;
    border-radius: 50%;
    top:0%;
}

.navigator .name{
    position: absolute;
    display: inline-block;
    font-size: 2vw;
    left: 20%;
    margin: -1% 0 0 0;
    top: 10%;

}

.navigator .header_icon1, .navigator .header_icon2, .navigator .header_icon3, .navigator .header_icon4{
    display: inline-block;
    position: absolute;
    color: rgb(182, 179, 179);
    transition: .5s ease-in-out;
    padding: 1.4% 1.9% 1.4% 1.9%;
    border-radius: 20%;
    margin: 0% 5% 0 0;
    box-shadow: 1px 1px #888888;
    top: 5%;

}

.navigator .header_icon1{
    left: 67%;

}
.navigator .header_icon2{
    left: 58%;

}
.navigator .header_icon3{
    left: 77%;

}
.navigator .header_icon4{
    left: 86%;
}
.pfp:hover{
    transform:scale(1.1);
}

html {
    scroll-behavior: smooth;
}

.navi{
    text-decoration: none;
    color: black;
}

.header_icon1:hover, .header_icon2:hover, .header_icon3:hover, .header_icon4:hover{
    transform:scale(1.1);
    color:rgb(177, 90, 9);
    text-shadow: 0.05vw 0.05vw rgb(7, 0, 0);
}

.header_icon1:after, .header_icon2:after, .header_icon3:after, .header_icon4:after{
    content: '';
    display: block;
    height: 0.01vw;
    width: 0;
    background: transparent;
    transition: width 1s ease, background-color .5s ease;
}

.header_icon1:hover:after, .header_icon2:hover:after, .header_icon3:hover:after, .header_icon4:hover:after{
    width: 100%;
    background:rgb(177, 90, 9);
    transition: width 0.6s ease, background-color .5s ease;
}

.header_icon1:active, .header_icon2:active, .header_icon3:active, .header_icon4:active{
    background-color:rgb(133, 112, 112);
}

.intro{
    position: absolute;
    left: 32%;
    padding: 0 0 30% 0;
    top: 40%;
    font-size: 3vw;
    width: 40%;
    text-align: center;
}


.my_info{
    position:absolute;
    padding: 5% 0 0 0;
    top:105%;
    width: 100%;
}

.my_info #about_title{
    position: absolute;
    left: 43%;
    top: 0%;
    margin: -1% 0 10% 0;
    font-size: 4vw;
}

.my_info #lines{
    position:absolute;
    top: 0%;
    width: 90%;
    margin: 4% 15% 0 5%;
}

.my_info #about_description{
    margin: 1% 5% 5% 5%;
    font-size: 2vw;
    text-align: center;
}

.my_info #sk{
    position:absolute;
    left: 46%;
    margin: 0 0 50px 0;
    top: 360%;
    font-size: 4vw;

}
.my_info #line{
    position:absolute;
    top: 450%;
    width: 90%;
    margin: 0% 15% 0 5%;
}

.my_info #inline{
    position: absolute;
    margin: 10%;
    top: 400%;
    font-size: 2vw;

}

.my_info #inline2{
    position: absolute;
    left: 36%;
    margin: 10%;
    top: 400%;
    font-size: 2vw;

}

.my_info #inline3{
    position: absolute;
    left: 69%;
    margin: 10%;
    top: 400%;
    font-size: 2vw;

}

.my_info #actual_img{
    position: absolute;
    width: 7.5%;
    height: 150%;
    top: 490%;
}

.my_info #front_image #actual_img{
    margin: 0 0 5% 0;
    left: 10%;
}

.my_info #back_end_image #actual_img{
    left: 46%;
}
.my_info #other_image #actual_img{
    left: 78%;
}

.my_info #ct{
    font-size: 4vw;
    display: block;
    position: absolute;
    left: 36%;
    top: 1170%;
}

.my_info #line2{
    position:absolute;
    width: 90%;
    top: 1320%;
    left: 5%;
}

.my_info #contact_img{
    top: 1370%;
    transition: .5s;
    width: 7%;
}

.my_info #git #contact_img{
    display: inline;
    position: absolute;
    left: 33%;
    margin: 0 1% 0 0;

}

.my_info #linked #contact_img{
    display: inline;
    position: absolute;
    left: 48%;
    margin: 0 0 0 0;

}

.my_info #outlook #contact_img{
    display: inline;
    position: absolute;
    left: 63%;
    margin: 0 1% 0 0;
}

.my_info #contact_img:hover{
    transform:scale(1.1);
}

.my_info .footer_indent{
    position: absolute;
    width:15%;
    height: 15%;
    top: 1530%;
}

.scroll_down{
    height: 50px;
    width: 30px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.scroll_down::before,
.scroll_down::after{
    content:'';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll_down:hover{
    transform: scale(1.2);
}

.scroll_down::after{
    top:30%;
    animation-delay: .3s;
}

@keyframes scroll-down {
    0%{
        opacity: 0;
    }30%{
        opacity: 1;
    }60%{
        opacity:1;
    }100%{
        opacity: 0;
        top:90%;
    }
}